@page "/game"

<PageTitle>Game</PageTitle>

<h1>Game</h1>
<canvas width="400" height="400"></canvas><br /><br />
<select id="sizeSelect">
    <option value="3">3x3</option>
    <option value="4">4x4</option>
    <option value="5">5x5</option>
</select><br /><br />
<input id="file" type="file"/><br /><br />
<button></button>

@code {

}
